# PORT DE CONNEXION
PORT=4000

# MODE DEVELOPPEMENT
NODE_ENV=development

# CONFIGURATION BASE DE DONNEE
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=colockoo
DB_PORT=3306

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# JWT
JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRY=24h
